<!-- <header class="header--main">

	<div class="wrap grid__2-col">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<div class="menu__toggle js-menu-toggle">
			<div class="menu__toggle__icon"><span></span></div>
		</div>

		<nav class="header__menu">
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link button--text">{{ item.title }}</a>
					</li>
					{% endfor %}
					<li class="menu__cta">
						<a href="#" class="menu__cta__link button--text contact-trigger js-contact">Get In Touch</a>
					</li>
				</ul>
			</div>
		</nav>

		<a href="#" class="header__cta button--fill contact-trigger js-contact">Get In Touch</a>
	</div>

</header> -->


<div class="top-logo">
  <a href="https://m-u-c-k.com" rel="history" class="image-link"><img src="https://freight.cargo.site/t/original/i/788f3d039ef28992dd6f8cbc011f7e14157ea1ef96018601972140dc9cf4ba7e/muck-logo-01.png"></a>
</div>

<div class="topnav">
  <a href="#news">Contact</a>
  <a href="#contact">Work</a>
  <a href="About" rel="history">About</a>
  <a href="/blog/" rel="history">News</a>
</div>