<!-- <header class="header--main">

	<div class="wrap grid__2-col">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<div class="menu__toggle js-menu-toggle">
			<div class="menu__toggle__icon"><span></span></div>
		</div>

		<nav class="header__menu">
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link button--text">{{ item.title }}</a>
					</li>
					{% endfor %}
					<li class="menu__cta">
						<a href="#" class="menu__cta__link button--text contact-trigger js-contact">Get In Touch</a>
					</li>
				</ul>
			</div>
		</nav>

		<a href="#" class="header__cta button--fill contact-trigger js-contact">Get In Touch</a>
	</div>

</header> -->


<div class="top-logo">
  <a href="http://www.m-u-c-k.com" target="_self" class="image-link"><img src="https://freight.cargo.site/t/original/i/a876c6fba85a4dbb178a1dba802eecc69b837bc90ba1d87cb305499465520844/muck-logo-1-black-01.png"></a>
</div>

<div class="topnav">
  <a href="/contact" target="_self"><p>Contact</p></a>
  <a href="https://www.m-u-c-k.com/about" rel="history" target="_self"><p>About</p></a>
  <a href="/blog/" rel="history" target="_self"><p>Latest</p></a>
  <a href="https://www.m-u-c-k.com/work" target="_self"><p>Work</p></a>
</div>